:root {
  --top-bar-height: 2rem;
  --app-content-height: calc(100vh - var(--top-bar-height));
  --spacing-gutter: 1rem;
  --width-md: 768px;
  --width-sm: 320px;
  --height-md: 300px;
  --height-sm: 150px;
  --color-error: #f44336;
  --color-warn: #ffeb3b;
  --color-primary: #3f51b5;
  --color-success: #4caf50;
  --color-disabled: rgba(0, 0, 0, 0.12);
  --color-white: #ffffff;
  --color-text: var(--ck-color-base-text);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.u-p-gutter {
  padding: var(--spacing-gutter) !important;
}

.u-mb-xsm {
  margin-bottom: 0.25rem !important;
}

.u-mb-md {
  margin-bottom: 1rem !important;
}

.u-mr-md {
  margin-right: 1rem !important;
}

.u-mt-xsm {
  margin-bottom: 0.25rem !important;
}

.u-diplay-block {
  display: block !important;
}

.u-w-100 {
  width: 100% !important;
}

.u-overflow-x-hidden {
  overflow-x: hidden !important;
}

.u-max-h-md {
  max-height: var(--height-md) !important;
}

.u-visibility-hidden {
  visibility: hidden !important;
}

.u-position-absolute {
  position: absolute !important;
}

.o-flex-row-center {
  display: flex;
  align-items: center;
}

.o-flex-row-start {
  display: flex;
  align-items: flex-start;
}

.o-flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

.o-flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ck-content {
  min-height: var(--height-sm);
  max-height: var(--height-md);
}

.ck-toolbar__items {
  display: flex;
  flex-wrap: wrap !important;
}

.u-bg-color-warn {
  background-color: var(--color-warn) !important;
}

.u-bg-color-success {
  background-color: var(--color-success) !important;
}

.u-bg-color-success:disabled {
  background-color: var(--color-disabled) !important;
}

.u-color-white {
  color: var(--color-white) !important;
}

.u-color-error {
  color: var(--color-error) !important;
}

.u-color-warn {
  color: var(--color-warn) !important;
}

.u-color-success {
  color: var(--color-success) !important;
}

.u-color-primary {
  color: var(--color-primary) !important;
}

.u-color-text {
  color: var(--color-text) !important;
}

.u-w-100 {
  width: 100% !important;
}
