<mat-toolbar role="heading">
  <mat-toolbar-row class="u-p-gutter">
    <span>{{ title }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="u-h-auto u-p-gutter">
    <div class="o-flex-row-space-between u-flex-wrap u-w-100 u-overflow-x-auto">
      <div class="o-flex-row-start u-flex-wrap c-topbar__content--left">
        <div
          matTooltip="É necessário parar o serviço para Salvar"
        >
            <button
              class="u-mr-md"
              color="primary"
              mat-raised-button
              type="submit"
              [disabled]="!(saveDisabledChange$ | async) || disableSaveConfiguration()"
              (click)="onSaveClick()"
            >
              Salvar
            </button>
        </div>
        <button
          [disabled]="startSchedulerDisabled"
          class="u-mr-md u-bg-color-success u-color-white"
          mat-raised-button
          type="button"
          (click)="onStartSchedulerStart()"
        >
          Iniciar Agendador
        </button>
        <button
          [disabled]="stopSchedulerDisabled"
          class="u-mr-md"
          color="warn"
          mat-raised-button
          type="button"
          (click)="onStopSchedulerStart()"
        >
          Parar Agendador
        </button>
      </div>
      <div class="c-topbar__content--right">
        <span
          [ngClass]="{
            'u-color-error': showErrorBg,
            'u-color-warn': showWarnBg,
            'u-color-success': showSuccessBg,
            'u-color-text': showDefaultBg,
            'u-color-primary': showPrimaryBg
          }"
        >
          {{ statusStr }}
        </span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
